<div class="course">

    <div class="course-top">
        <div class="container">
            <div class="classes">
                <h2>课程表</h2>
            </div>
        </div>
    </div>

    <div class="course-main">
        <div class="container">
            <h1 style="margin: 50px auto">明日课程 <span style="color:#E84E40;" ng-bind="now|date: 'yyyy-MM-dd'"></span></h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 show-course-container"  ng-repeat="c in coursedataToday">
                    <div class="show-course">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 show-course-pic">
                            <img ng-src="{{courseUrl+c.cpicc1}}" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 show-course-txt">
                            <div class="show-course-title">
                                <h3 ng-bind="c.cname"></h3>
                            </div>
                            <div class="show-course-content" ng-bind="c.cintroduce">
                            </div>
                            <div class="show-course-coach">
                                <div class="course-coach-img">
                                    <img ng-src="{{IconUrl+c.uicon}}" alt="">
                                </div>
                                <div class="course-coach-name">
                                    <h4>培训师</h4>
                                    <p ng-bind="c.uname"></p>
                                </div>
                            </div>
                            <div class="show-course-btn">
                                <a ui-sref="courseDetaileds({cid:c.cid})">阅读更多</a>
                            </div>
                           <!-- <span class="timespan"></span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="join">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 show-course-container">
                        <div class="joinLogin">
                            <h1>加入我们吧</h1>
                            <p ng-bind="coursedataToday[0].cname"></p>
                            <p ng-bind="coursedataToday[0].cintroduce"></p>

                            <button ui-sref="courseDetaileds({cid:coursedataToday[0].cid})">立即加入</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--全部课程-->
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 calander">
                    <h1>全部课程</h1>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 all-course-show">
                            <ul ng-repeat="c1 in coursedata">
                                <a ui-sref="courseDetaileds({cid:c1.cid})">
                                    <li ng-bind="c1.cname" style="float: left;width: 100px; text-align: left"></li>
                                    <li id="datepass" ng-bind="c1.ctimestart"></li>
                                    <li ng-bind="c1.cdate" style="float: right"></li>
                                </a>
                            </ul>
                        </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 all-course">
                        <h1>日期选课</h1>
                        <input type="date" ng-change="selectcal()" name="loanDate" ng-model="loanDate" style="width: 100%;height: 40px">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 all-course-show">
                            <ul ng-repeat="c1 in coursecal">
                                <a ui-sref="courseDetaileds({cid:c1.cid})">
                                    <li ng-bind="c1.cname" style="float:left;width:150px; text-align:left"></li>
                                    <li ng-bind="c1.ctimestart"></li>
                                    <li ng-bind="c1.cdate" style="float: right"></li>
                                </a>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>