<div>
    <div class="banner">
        <div id="imgDiv">
            <div id="divImage">
                <img src="upfile/img01.jpg" alt="" id="advImage">
            </div>
            <div class="imgIndex">
                <ul>
                    <li id="img01" class="yellowBorder" ng-click="changeImage(1,1)">1</li>
                    <li id="img02" ng-click="changeImage(2,1)">2</li>
                    <li id="img03" ng-click="changeImage(3,1)">3</li>
                </ul>
            </div>
        </div>
    </div>

    <div style="height: 412px"></div>
    <div class="container">
        <!--首页内容-->
    </div>
    <div class="blog-container">
        <div class="container">
            <div class="row">
                <div class="blog-row">
                    <div class="blog-push">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-push-item text-center">
                            <p>健身分享</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-push-container">

                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 blog-push-wrap" ng-repeat="bp in blogPush" ng-click="blogPushDetail(bp.bid)">
                                <div class="blog-push-box">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-push-content">
                                        <h6 ng-bind="bp.btime"></h6>
                                        <h3 ng-bind="bp.btitle"></h3>
                                        <p ng-bind="bp.bzhaiyao">
                                            <span>...</span>
                                        </p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 blog-push-author">
                                        <span><img src="images/f2.jpg" alt=""></span><span ng-bind="bp.uname">小明</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-container">
        <div class="container">
            <div class="row">
                <div class="video-row">
                    <div class="video-push">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 video-push-item">
                            <p>精品课程</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 video-push-box" ng-repeat="vp in videoPush" ng-click="watchVideoPush(vp.vid,vp.price,vp.name,vp.time,vp.vid,vp.pic)">
                            <div class="video-push-brief">
                                <p ng-bind="vp.vname"></p>
                            </div>
                            <div class="video-push-img">
                                <img src="images/nv2.jpg" alt="">
                            </div>
                            <div class="video-push-info">
                                <p>观看-<span ng-bind="vp.vcount"></span>-次</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="couser-container">
        <div class="container">
            <div class="row">
                <div class="course-row">
                    <div class="course-push">
                        <div class="col-xs-12 col-md-12 col-md-12 col-lg-12">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 course-push-today">
                                <p>热门课程</p>
                                <div ng-repeat="cp in coursePush">
                                    <a ui-sref="courseDetaileds({cid:cp.cid})">
                                        <h6>{{cp.cname}}<span ng-bind="cp.ctimestart"></span></h6>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center course-push-icon">
                                <img src="images/course-push.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="coach-container">
        <div class="container">
            <div class="row">
                <div class="coach-row">
                    <div class="coach-push">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coach-push-coach">
                            <p>明星教练</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 coach-push-box" ng-repeat=" co in coachPush">
                            <a ui-sref="coachDetail({coid:co.coid})">
                                <div class="coach-push-img">
                                    <img src="images/f2.jpg" alt="">
                                </div>
                                <div class="coach-push-name">
                                    <p ng-bind="co.uname"></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

